html {
    font-size: 10px
  }
  
  @media screen and (min-width:321px) and (max-width:375px) {
    html {
      font-size: 11px
    }
  }
  
  @media screen and (min-width:376px) and (max-width:414px) {
    html {
      font-size: 13px
    }
  }
  
  @media screen and (min-width:415px) and (max-width:639px) {
    html {
      font-size: 15px
    }
  }
  
  @media screen and (min-width:640px) and (max-width:719px) {
    html {
      font-size: 20px
    }
  }
  
  @media screen and (min-width:720px) and (max-width:749px) {
    html {
      font-size: 22.5px
    }
  }
  
  @media screen and (min-width:750px) and (max-width:799px) {
    html {
      font-size: 23.5px
    }
  }
  
  @media screen and (min-width:800px) {
    html {
      font-size: 25px
    }
  }
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .gray-content{
    width:100%;
    height:1rem;
    background:#ececec;
  }
  .img-item{
    width:100%;
    height:100%;
  }